*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/akram-huseyn-V_0ES17m9Tc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:100% 100vh;
    color: white;
}